<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/plugins/morris.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/angular/app.module.js"></script>
    <script src="/js/angular/controllers/CategoryInNetController.js"></script>
    <script src="/js/angular/controllers/DrugController.js"></script>
    <script src="/js/angular/controllers/DrugInfoTypeController.js"></script>
    <script src="/js/angular/controllers/MainController.js"></script>
    <script src="/js/angular/controllers/ManagerController.js"></script>
    <script src="/js/angular/controllers/MerchantController.js"></script>
    <script src="/js/angular/controllers/PharmacyController.js"></script>
    <script src="/js/angular/controllers/PhotoSubTypeController.js"></script>
    <script src="/js/angular/controllers/PhotoTypeController.js"></script>
    <script src="/js/angular/controllers/ProjectController.js"></script>
    <script src="/js/angular/controllers/PromoController.js"></script>
    <script src="/js/angular/controllers/TerritoryController.js"></script>
    <script src="/js/angular/controllers/TradenetController.js"></script>
    <script src="/js/angular/directives/map.js"></script>
    <script src="/js/angular/directives/modal.js"></script>
    <script src="/js/angular/directives/pageWithTiles.js"></script>
    <script src="/js/angular/directives/popover.js"></script>
    <script src="/js/angular/factories/dataservice.js"></script>
    <script src="/js/angular/factories/getdata.js"></script>
    <script src="/js/angular/factories/lodash.js"></script>
    <script src="/js/angular/factories/morris.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/jquery-1.11.3.js"></script>
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/plugins/flot/excanvas.min.js"></script>
    <script src="/js/plugins/flot/flot-data.js"></script>
    <script src="/js/plugins/flot/jquery.flot.js"></script>
    <script src="/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>
    <script src="/js/plugins/morris/morris.js"></script>
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <script src="/js/report.js"></script>
    <script src="/js/rpt.js"></script>
    <script src="/js/sbl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
