<div>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#{{prefix}}_attendance_main" aria-controls="project_main" role="tab" data-toggle="tab">Основное</a></li>
  <li role="presentation"><a href="#{{prefix}}_attendance_results" aria-controls="project_drugs" role="tab" data-toggle="tab">Результаты</a></li>
  <li role="presentation"><a href="#{{prefix}}_attendance_photos" aria-controls="project_dits" role="tab" data-toggle="tab">Фотографии</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="margin-top: 20px;">
  <!-- TAB main   -->
  <div role="tabpanel" class="tab-pane fade in active" id="{{prefix}}_attendance_main">
    <form>
      <div class="form-group">
        <label for="category_net">Категория в сети:</label>
        <input class="form-control" name="category_net" id="category_net" ng-model="last.attendance.category_net.name" type="text" readonly/>
      </div>
      <div class="form-group">
        <label for="purchaserFIO">Закупщик:</label>
        <input class="form-control" name="purchaserFIO" id="purchaserFIO" ng-model="last.attendance.purchaserFIO" type="text" readonly/>
      </div>
      <div class="form-group">
        <label for="telephone">Телефон:</label>
        <input class="form-control" name="telephone" id="telephone" ng-model="last.attendance.telephone" type="text" readonly/>
      </div>
      <div class="form-group">
        <label for="pharmacistCount">Кол-во первостольников:</label>
        <input class="form-control" name="pharmacistCount" id="pharmacistCount" ng-model="last.attendance.pharmacistCount" type="text" readonly/>
      </div>
      <div class="form-group">
        <label for="promos_join">Промо-материалы:</label>
        <input class="form-control" name="promos_join" id="promos_join" ng-model="last.attendance.promos_join"  type="text" readonly/>
      </div>
    </form>
  </div>
  <!-- ./TAB main   -->
  <div role="tabpanel" class="tab-pane fade" id="{{prefix}}_attendance_results">
    <form>
      <div class="form-group">
        <div class="table-responsive">
          <table id="table" class="table table-bordered table-striped report">
            <thead>
              <tr>
                <th>Препарат</th>
                <th ng-repeat="info in infos">
                  {{info.name}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="drug in drugs">
                <td>
                  {{drug.fullName}}
                </td>
                <td ng-repeat="info in infos">
                  <div ng-if="getvalue(drug.id, info.id) == 'Y'" style="text-align:center;background-color:lightgreen">
                    ДА
                  </div>
                  <div ng-if="getvalue(drug.id, info.id) == 'N'" style="text-align:center;background-color:lightpink">
                    НЕТ
                  </div>
                  <div ng-if="getvalue(drug.id, info.id) !== 'Y' && getvalue(drug.id, info.id) !== 'N'" style="text-align:center;">
                    {{getvalue(drug.id, info.id)}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="{{prefix}}_attendance_photos">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li ng-repeat="photo in last.attendance.photos track by $index" data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{active: $index == 0}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item" ng-repeat="photo in last.attendance.photos track by $index" ng-class="{active: $index == 0}">
            <img ng-src="{{photo.storagePath}}">
            <div class="carousel-caption">
              <h3>{{subTypes[photo.subType].ptName}}</h3>
              <p>{{subTypes[photo.subType].pstName}}</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
</div>

</div>