<div class="form-group">
  <input class="form-control" ng-model="last.entity.fullName" ng-change="last.change()" type="text" placeholder="Полное наименование">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.officialName" ng-change="last.change()" type="text" placeholder="Оффициальное наименование">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.barcode" ng-change="last.change()" type="text" placeholder="Штрихкод">
</div>
<div class="form-group">
  <textarea class="form-control" ng-model="last.entity.description" ng-change="last.change()" rows="3" placeholder="Описание"></textarea>
</div>