<div class="form-group">
  <input class="form-control " ng-model="last.entity.lastName" ng-change="last.change()" type="text" placeholder="Фамилия">
</div>
<div class="form-group">
  <input class="form-control " ng-model="last.entity.firstName" ng-change="last.change()" type="text" placeholder="Имя">
</div>
<div class="form-group">
  <input class="form-control " ng-model="last.entity.middleName" ng-change="last.change()" type="text" placeholder="Отчество">
</div>
<div class="form-group">
  <label class="radio-inline"><input type="radio" ng-model="last.entity.sex" ng-change="last.change()" value="1">Мужчина</label>
  <label class="radio-inline"><input type="radio" ng-model="last.entity.sex" ng-change="last.change()" value="0">Женщина</label>
</div>
<div class="form-group">
  <input class="form-control " ng-model="last.entity.phone" ng-change="last.change()" type="text" placeholder="Телефон">
</div>
<div class="form-group">
  <input class="form-control " ng-model="last.entity.email" ng-change="last.change()" type="text" placeholder="Эл. почта">
</div>