<div class="form-group">
  <input class="form-control " ng-model="last.lastName" type="text" placeholder="Фамилия">
</div>
<div class="form-group">
  <input class="form-control " ng-model="last.firstName" type="text" placeholder="Имя">
</div>
<div class="form-group">
  <input class="form-control " ng-model="last.middleName" type="text" placeholder="Отчество">
</div>
<div class="checkbox">
  <label><input type="checkbox" ng-model="last.sex" ng-checked="last.sex == 1" ng-true-value="1" ng-false-value="0">Мужчина</label>
</div>
<div class="form-group">
  <input class="form-control " ng-model="last.phone" type="text" placeholder="Телефон">
</div>
<div class="form-group">
  <input class="form-control " ng-model="last.email"  type="text" placeholder="Эл. почта">
</div>
<div class="form-group">
  <label for="merchantTerritory">Территория:</label>
  <select class="form-control" name="merchantTerritory" id="merchantTerritory"  ng-options="option.name for option in last.territories track by option.id" ng-model="last.territory">
  </select>
</div>
<div class="form-group">
  <label for="merchantProject">Проект:</label>
  <select class="form-control" name="merchantProject" id="merchantProject"  ng-options="option.fullName for option in last.projects track by option.id" ng-model="last.project">
  </select>
</div>
