<div class="form-group">
  <input class="form-control " ng-model="last.entity.fullName" ng-change="last.change()" type="text" placeholder="Полное наименование">
</div>
<div class="form-group">
  <textarea class="form-control " ng-model="last.entity.description" ng-change="last.change()" rows="3" placeholder="Описание"></textarea>
</div>
<div class="form-group">
  <label for="projectDrugs">Препараты:</label>
  <select class="form-control" multiple name="projectDrugs" id="projectDrugs" ng-options="option.fullName for option in last.refs.drugs track by option.id" ng-model="last.entity.drugs" ng-change="last.change()" ng-disabled="last.refs.drugs.length == 0">
  </select>
</div>
<div class="form-group">
  <label for="projectDITs">Типы информации:</label>
  <select class="form-control" multiple name="projectDITs" id="projectDITs"  ng-options="option.name for option in last.refs.druginfotypes track by option.id" ng-model="last.entity.infos" ng-change="last.change()" ng-disabled="last.refs.druginfotypes.length == 0">
  </select>
</div>