<div class="form-group">
  <input class="form-control" ng-model="last.entity.fullName" ng-change="last.change()" type="text" placeholder="Полное наименование">
</div>
<div class="form-group">
  <input class="form-control" ng-model="last.entity.shortName" ng-change="last.change()" type="text" placeholder="Краткое наименование">
</div>
<div class="form-group">
  <textarea class="form-control" ng-model="last.entity.description" ng-change="last.change()" rows="2" placeholder="Описание"></textarea>
</div>