<!-- <div class="btn btn-success btn-xs" ng-click="download_file()"><i class="fa fa-file-excel-o"></i></div> -->
<div class="table-responsive">
	<table id="table" class="table table-bordered table-striped report">
		<thead>
			<tr>
				<th ng-model="meta" ng-repeat="field in meta track by $index">
					{{field.caption}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-model="results" ng-repeat="res in results">
				<td ng-repeat="field in meta track by $index">
					{{res[field.name]}}
				</td>
			</tr>
		</tbody>
	</table>
</div>