<div class="row">
	<div class="col-md-1 col-lg-6 ">
		<form id="custom-search-form" class="form-search form-horizontal pull-left">
			<div class="input-append span12">
				<input type="text" ng-model="search" class="search-query mac-style" placeholder="Поиск">
				<button type="submit" class="btn"><i class="icon-search"></i></button>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-1 text-right">
		<div class="panel">
			<div class="label label-default">Кол-во: {{filtered.length}}</div>
		</div>
	</div>
</div>	
<div class="row">
	<div class="col-lg-6 col-md-6" ng-repeat="item in filtered = (items | filter: search)">					
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-building fa-5x"></i>
						<h3 ng-bind="item.territory.name"></h3>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge" ng-bind="item.id"></div>
						<div ng-bind="item.fullName"></div>										
						<div ng-bind="item.address"></div>	
					</div>
				</div>
			</div>
			<a ng-click="initial(item.id)" ng-model="item" href="#pharmacy_upd" data-toggle="modal" data-placement="top" data-toggle="tooltip" title="Просмотр дополнительных сведений">
				<div class="panel-footer">
				<span class="pull-left"><h4>Подробнее</h4></span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
				<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>